<launch>

  <arg name="robot_description_parameter" default="my_gen3/robot_description"/>
  <arg name="namespace" default=""/>

  <!-- Load controller configuration -->
  <rosparam file="$(find dynamics_estimator_ros)/config/dynamics_estimator.yaml" command="load" subst_value="true"/>

  <node name="twist_estimator" pkg="dynamics_estimator_ros" type="dynamics_estimator_ros_twist_node" respawn="false" output="screen" />


</launch>